@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div>
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Thông tin sinh viên</p>
    <p>Họ và tên: Đinh Văn Hiếu</p>
    <p>MSSV: 20183504</p>
    <p>Giới tính: Nam</p>
    <p>Ngày sinh: 01/01/2005<p>
    <p>Địa chỉ: Hà Nội, Việt Nam</p>

</div>

<p>Use this page to detail your site's privacy policy.</p>
