@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class=" alert alert-info">
<h1>@ViewData["Title"]</h1>
<hr/>
    <p>Mã sinh viên: 2310900122</p>
    <p>Họ và tên: Đinh Văn Hiếu</p>
    <p>Lớp: K23CNT2-NET</p>
    <p>Email: hieudinhvan464@gmail.com</p>
    <p>Điện thoại: 0383167565</p>
</div>