@{
    ViewData["Title"] = "Đinh Văn Hiếu - K23CNT2";
}

<div class="text-center">
    <h1 class="display-4"> Đinh Văn Hiếu - k23CNT2 - NET</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
