@{
    ViewData["Title"] = "Thong Tin Sinh Vien";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <p>Ma Sinh Vien: 2310900122</p>
    <p>Ho Ten: Dinh Van Hieu</p>
    <p>Gioi Tinh: Nam</p>
    <p>Ngay Sinh: 15/08/2005</p>
    <p>Que Quan: Bac Giang</p>
    <p>Email: hieudinhvan464@gmail.com</p>
    <p>So Dien Thoai: 0282167565</p>
    <p>Lop: K23CNT2 - NET </p>
</div>
