
@{
    ViewData["Title"] = "Thông tin sinh viên";
}<div>
    <h1>DThông tin sinh viên</h1>
    <hr />
    <p>Mã sinh viên: 2310900122</p>
    <p>Họ và tên: Đinh Văn Hiếu</p>
    <p>Lớp: K23CNT2</p>
    <p>Email: hieudinhvan464@gmail.com</p>
</div>
<

