@model DinhVanHieu_lap11.Models.DvhEmployee

@{
    ViewData["Title"] = "Xem thông tin";
}
<div class="row">
    <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h1>@ViewData["Title"]</h1>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="DvhEmpId" class="control-label"></label>
                        <input asp-for="DvhEmpId" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label asp-for="DvhEmpName" class="control-label"></label>
                        <input asp-for="DvhEmpName" class="form-control" readonly />
                        <span asp-validation-for="DvhEmpName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DvhEmpLevel" class="control-label"></label>
                        <input asp-for="DvhEmpLevel" class="form-control" readonly />
                        <span asp-validation-for="DvhEmpLevel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DvhEmpStartDate" class="control-label"></label>
                        <input asp-for="DvhEmpStartDate" class="form-control" readonly />
                        <span asp-validation-for="DvhEmpStartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DvhEmpStatus" class="control-label"></label>
                        <input asp-for="DvhEmpStatus" class="form-control" readonly />
                        <span asp-validation-for="DvhEmpStatus" class="text-danger"></span>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <a asp-action="DvhEdit" asp-route-Dvhid="@Model?.DvhEmpId" class="btn btn-primary">Edit</a> |
                        <a asp-action="DvhIndex" class="btn btn-secondary">Back to List</a>
                    </div>
                   
               </div>
    </div>
</div>